<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    
    <body>
    
        <%- include('../partials/header') %>
        <main class="charger">
            <div>
                <form action="?_method=PUT" method="POST" enctype="multipart/form-data">
                    <fieldset class="form-prod-char">
                        <legend class="legend-formulario">Editar producto</legend>
                        
                        <label for="name">Nombre
                            <input type="text" 
                            id = "name" 
                            value="<%=product.name %>" 
                            name="name">
                        </label>
                        
                        <label for="price">Precio
                            <input type="number" 
                            id="price" 
                            name="price" 
                            value="<%=product.price %>">
                        </label>
                        
                        <label for="category">Categoria:
                            <select name="category" id="category">
                                <% categories.forEach(category => { %>
                                    <% if(category.id == product.idCategory){ %>
                                        <option value="<%=category.id%>" selected><%= category.name%></option>
                                    <% }else{ %>
                                        <option value="<%=category.id%>"><%= category.name %></option>
                                    <% } %>   
                                <% }) %>
                            </select>
                         </label>

                         <label for="Style">Estilos: 
                            <select name="Style" id="Style">
                                <% styles.forEach(style => { %>
                                    <% if(style.id == product.idStyle){%>
                                        <option value="<%=style.id%>" selected><%= style.name %></option>
                                    <% }else{ %>
                                        <option value="<%=style.id%>"><%= style.name %></option> 
                                    <% } %> 
                                <% }) %>
                            </select>
                         </label>

                        <label>Colores:
                            <div class="color">
                                <% colours.forEach(colour=>{ %>
                                    <div class="check-c-s">
                                    <% if(colour.id == product.idColour){ %>
                                        <input class="chk" 
                                        type="checkbox"
                                        value='<%=colour.id%>' 
                                        name="color" 
                                        id="colour<%=colour.id %>" checked>
                                        <label class="lbl" for = "colour<%=colour.id %>">
                                            <img src = "/images/colores/<%= colour.urlColour %>.jpg">
                                        </label>
                                    <% }else{ %> 
                                        <input class="chk" type="checkbox" value="<%=colour.id %>" name="color" id="colour<%=colour.id %>">
                                        <label class="lbl" for = "colour<%=colour.id %>">
                                            <img src = "/images/colores/<%= colour.urlColour %>.jpg">
                                        </label> 
                                    <% }; %>
                                    </div>
                                <% }) %>  
                            </div>
                        </label>
                        
                        <label>Talles:
                            <div class="size">
                                <% sizes.forEach(size => { %>
                                    <div class="check-size">
                                        <% if( size.id == (product.idSize)){ %>
                                        <input class="chk"
                                        type="checkbox" 
                                        value="<%= size.id %>" 
                                        name="sizes" 
                                        id ="size<%= size.id %>" checked>
                                        <label class="lbl" for = "size<%= size.id %>"><%= size.name %></label>
                                        <% }else{ %> 
                                            <input class="chk" type="checkbox" value="<%= size.id %>"  name="sizes" id ="size<%= size.id %>">
                                            <label class="lbl" for = "size<%= size.id %>"><%= size.name %></label>
                                        <% } %> 
                                    </div>
                                <% }) %> 
                            </div>
                        </label>

                        <label for="image">Imagen principal:
                            <img src="/images/products/<%= imgP.urlName %>" alt="" width="50px">
                            <input type="file" name="image" id="image">
                        </label>



                        <label for="description">Descripción: 
                            <textarea name="description" id="description" cols="30" rows="5" class="description"><%=product.description%></textarea>
                        </label>

                        <div class="bt">
                            <input type="submit" value="Editar" class="style-button">
                        </div>

                    </fieldset>
                </form>
            </div>
        </main>


        <%- include('../partials/footer') %> 
    </body>  
</html>