<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main class="productList">
            <section class="filters">
            </section>
            <section class="products">
                    <% productList.forEach(element => { %>
                            
                        <article>
                            <a href="/products/<%= element.id  %>"><img src="/images/products/<%= element.ImageProduct[0].urlName %>" width="150px" height="300px"></a>
                                <div class="descripcion">
                                    <p class="precio">$<%= element.price %> </p>
                                    <p class="category"><%= element.Styles.name %> </p>    
                                    <p> <%= element.name %> </p>   
                                </div>
                        </article>

                    <% }) %>
            </section>
        </main>
        <%- include('../partials/footer') %> 
    </body>    
</html>