<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main> 
            
            <section>
                <article>
                    <h4 class="title">Tu carrito de compras</h4>
                </article>
                <article class="paso">
                    <h2 class="pasoUno">1</h2>
                    <% if (locals.product) { %>
                        <a href='/products/productCart2'><h2>2</h2></a>
                        <a href='/products/productCart3'><h2>3</h2></a>
                        <a href='/products/productCart4'><h2>4</h2></a>
                        <% } else{%>
                            <h2>2</h2>
                            <h2>3</h2>
                            <h2>4</h2>
                        <%} %> 
                    
                </article>
            </section>

                    <p class="title-1-prodCart">
                        Tu carrito tiene x productos distintos
                    </p>
                            <section class="det-compra">
                                <article class="detalle-prod">
                                    <div class="imagen-prod"><img src="/images/products/<%= product.ImageProduct[0].urlName %>" alt="Foto del producto" class="Foto del producto"></div>
                                    <div>
                                        <h4 class="nomProd"><%= product.name %> </h4>
                                        <p class="Size">Talle: <%= size.name %> </p>
                                        <p class="Size">Color:</p>

                                        <form action="">
                                            <div class="color">
                                                <div class="check-c-s">
                                                    <input class="chk pCol" type="checkbox" value="<%=color.id%>" name="color" id="colour<%=color.id%> checked">
                                                    <label class="lbl" for = "colour<%=color.id%>">
                                                        <img src = "/images/colores/<%=color.urlColour%>.jpg">
                                                    </label> 
                                                </div>
                                            </div>
                                        </form>
                                        
                                        
                                        
                                        <div>
                                            <form action="/" method="POST">
                                                <label for="cant">
                                                    Cantidad: <%= cant %> 
                                                    <p class="cant"></p>
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </article>
                
                                <article class="precio">
                                    <div>
                                        <h4>PRECIO UNITARIO:</h4>
                                        <p class="price">AR$ <%= product.price %></p>
                                    </div>
                                    <div>
                                        <h4>TOTAL:</h4>
                                        <p class="total">AR$ <%= total %>  </p>
                                    </div>
                                </article>
                
                                <article class="boton">
                                    <button type="reset" class="style-button">Borrar</button>
                                </article>
                             </section>
                             <div class="bEnv">
                                 <form action='/products/productCart4'><button type="submit">Siguiente</button></form>   
                            </div>
                                

                
            
        </main>
        <%- include('../partials/footer') %>
        
    </body>
</html>