<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    
    <body>
    
        <%- include('../partials/header') %>
        <main class="charger">
            <div>
                <form action="?_method=PUT" method="POST" enctype="multipart/form-data">
                    <fieldset class="form-prod-char">
                        <legend class="legend-formulario">Editar producto</legend>
                        
                        <label for="name">Nombre
                            <input type="text" 
                            id = "name" 
                            value="<%= locals.oldData ? oldData.name : product.name%>" 
                            name="name"
                            class="name">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-danger" style="width: 100%">
                                    <%= errors.name.msg %> 
                                </div>
                            <% } %>
                            <div class="text-danger-name" style="width: 100%"></div>
                        </label>
                        
                        <label for="price">Precio
                            <input type="number" 
                            id="price" 
                            name="price" 
                            value="<%= locals.oldData ? oldData.price : product.price %>"
                            class="price">
                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger" style="width: 100%">
                                    <%= errors.price.msg %> 
                                </div>
                            <% } %>
                            <div class="text-danger-price" style="width: 100%"></div>
                        </label>
                        
                        <label for="category">Categoria:
                            <select name="category" id="category" class="category">
                                <% categories.forEach(category => { %>
                                    <% if ( !locals.oldData && category.id == product.idCategory){ %>
                                        <option value="<%=category.id%>" selected><%= category.name%></option>
                                    <% }else if(locals.oldData && category.id == oldData.category){ %>
                                        <option value="<%=category.id%>" selected><%= category.name%></option>
                                    <% }else{%>
                                        <option value="<%=category.id%>"><%= category.name %></option>
                                    <%} %>   
                                <% }) %>
                            </select>
                            <div class="text-danger-category" style="width: 100%"></div>
                         </label>

                         <label for="Style">Estilos: 
                            <select name="Style" id="Style" class="styles">
                                <% styles.forEach(style => { %>
                                    <% if(!locals.oldData && style.id == product.idStyle){%>
                                        <option value="<%=style.id%>" selected><%= style.name %></option>
                                    <% }else if(locals.oldData && style.id == oldData.Style){ %>
                                        <option value="<%=style.id%>" selected><%= style.name %></option>
                                    <% }else{ %>
                                        <option value="<%=style.id%>"><%= style.name %></option> 
                                    <% } %> 
                                <% }) %>
                            </select>
                            <div class="text-danger-style" style="width: 100%"></div>
                         </label>

                        <label>Colores:
                            <div class="color">
                                <% colours.forEach(colour=>{ %>
                                    <div class="check-c-s">
                                    <% if(!locals.oldData && product.Colours.find(e=>e.id==colour.id) != undefined){ %>
                                        <input class="chk chk-color" 
                                        type="checkbox"
                                        value='<%=colour.id%>' 
                                        name="color" 
                                        id="colour<%=colour.id %>" checked>
                                        <label class="lbl" for = "colour<%=colour.id %>">
                                            <img src = "/images/colores/<%= colour.urlColour %>.jpg">
                                        </label>
                                        <% } else if(locals.oldData && oldData.color.includes(`${colour.id}`)) { %>
                                        <input class="chk chk-color" 
                                        type="checkbox"
                                        value='<%=colour.id%>' 
                                        name="color" 
                                        id="colour<%=colour.id %>" checked>
                                        <label class="lbl" for = "colour<%=colour.id %>">
                                            <img src = "/images/colores/<%= colour.urlColour %>.jpg">
                                        </label>
                                    
                                        <% }else{ %> 
                                        <input class="chk chk-color" type="checkbox" value="<%=colour.id %>" name="color" id="colour<%=colour.id %>">
                                        <label class="lbl" for = "colour<%=colour.id %>">
                                            <img src = "/images/colores/<%= colour.urlColour %>.jpg">
                                        </label> 
                                    <% }; %>
                                    </div>
                                <% }) %>  
                            </div>
                            <% if (locals.errors && errors.color) { %>
                                <div class="text-danger" style="width: 100%">
                                    <%= errors.color.msg %> 
                                </div>
                            <% } %>
                            <div class="text-danger-color" style="width: 100%"></div>
                        </label>
                        
                        <label>Talles:
                            <div class="size">
                                <% sizes.forEach(size => { %>
                                    <div class="check-size">
                                        <% if(!locals.oldData && product.Sizes.find(e=>e.id == size.id) != undefined){ %>
                                            <input class="chk chk-size"
                                            type="checkbox" 
                                            value="<%= size.id %>" 
                                            name="sizes" 
                                            id ="size<%= size.id %>" checked>
                                            <label class="lbl" for = "size<%= size.id %>"><%= size.name %></label>
                                        <% } else if(locals.oldData && oldData.sizes.includes(`${size.id}`) ) { %>
                                            <input class="chk chk-size"
                                            type="checkbox" 
                                            value="<%= size.id %>" 
                                            name="sizes" 
                                            id ="size<%= size.id %>" checked>
                                            <label class="lbl" for = "size<%= size.id %>"><%= size.name %></label>
                                        <% }else{ %> 
                                            <input class="chk" type="checkbox" value="<%= size.id %>"  name="sizes" id ="size<%= size.id %>">
                                            <label class="lbl" for = "size<%= size.id %>"><%= size.name %></label>
                                        <% } %> 
                                    </div>
                                <% }) %> 
                                <% if (locals.errors && errors.sizes) { %>
                                    <div class="text-danger" style="width: 100%">
                                        <%= errors.sizes.msg %> 
                                    </div>
                                <% } %>
                            </div>
                            <div class="text-danger-size" style="width: 100%"></div>
                        </label>

                        <label for="image">Imagen principal:
                            <img src="/images/products/<%= product.ImageProduct[0].urlName %>" alt="" width="50px">
                            <input type="file" name="image" id="image" class="imagesPrinSec">
                            <div class="text-danger-img" style="width: 100%"></div>
                        </label>

                        <% if(product.ImageProduct[1] != null ){ %> 
                            <label for= "imgSec"> Marcar imagenes que se Eliminaran:
                                <div class="color">
                                    <% for (let i = 1; i < product.ImageProduct.length; i++){ %>
                                        <div class="check-c-s">
                                            <img src="/images/products/<%=product.ImageProduct[i].urlName%>" width="50px">
                                            <input type="checkbox" name ="imgSec" value="<%=product.ImageProduct[i].id%>"> 
                                        </div>
                                    <% } %>
                                </div>
                            </label>
                        <% }; %> 
                        
                        <label for="images">Imagenes secundarias:
                            <input type="file" name="images" id="images" multiple>
                            <div class="text-danger-img" style="width: 100%"></div>
                        </label>

                        <label for="description">Descripción: 
                            <textarea name="description" id="description" cols="30" rows="5" class="description">
                                <%= locals.oldData ? oldData.description : product.description%>
                            </textarea>
                            <% if (locals.errors && errors.description) { %>
                                <div class="text-danger" style="width: 100%">
                                    <%= errors.description.msg %> 
                                </div>
                            <% } %>
                            <div class="text-danger-description" style="width: 100%"></div>
                        </label>

                        <div class="bt">
                            <input type="submit" value="Editar" class="style-button">
                        </div>

                    </fieldset>
                </form>
            </div>
        </main>


        <%- include('../partials/footer') %> 
        <script src="/js/validation-update-products.js"></script>
    </body>  
</html>