<article>
    <a href="/products/<%= element.id  %>"><img src="/images/products/<%= element.ImageProduct[0].urlName %>"></a>
        <div class="descripcion">
            <p class="precio">$<%= element.price %> </p>
            <p class="category"><%= element.category.name %> </p>    
            <p> <%= element.name %> </p>   
        </div>
</article>