<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>

    <body>
        <%- include('../partials/header-home') %>

        <main class="home">
            <section class="banner">
                <div>
                   <img src="images/carrusel-mood.PNG" alt="" class="img-banner">
               </div>
           </section>
   
           <section class="populares">
               <div class="popular-now">
                   <h1 class="tittle-popu">Popular ahora</h1>
                   <div class="btn-popu">
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Blusas').id%>" class="style-button">
                            Blusas  
                        </a>
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Jeans').id%>" class="style-button">
                            Jeans 
                        </a>
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Shorts').id%>" class="style-button">
                            Shorts 
                        </a>
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Vestidos').id%>" class="style-button">
                            Vestidos 
                        </a>
                   </div>
               </div>
           </section>
           
            <section class>
                <div class="products">
                    <article>
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Remeras').id%>&category1=<%=categories.find(e=>e.name=='Blusas').id%>">
                            <img src="images/blusa.PNG" alt="Blusas y remeras" class="product_img">
                            <div class="main-article">
                                <h4 class="description">BLUSAS Y REMERAS</h4>
                            </div>
                        </a>
                    </article>
                    <article>
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Vestidos').id%>&category1=<%=categories.find(e=>e.name=='Monos').id%>">
                            <img src="images/vestido.PNG" alt="Vestidos y monos" class="product_img">
                            <div class="main-article">
                                <h4 class="description">VESTIDOS Y MONOS</h4>
                            </div>
                        </a>
                    </article>
                    <article>
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Shorts').id%>&category1=<%=categories.find(e=>e.name=='Faldas').id%>">
                            <img src="images/short.PNG" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                            <div class="main-article">
                                <h4 class="description">SHORTS Y FALDAS</h4>
                            </div>
                        </a>
                    </article>
                    <article>
                        <a href="/products/filter?category=<%=categories.find(e=>e.name=='Jeans').id%>&category1=<%=categories.find(e=>e.name=='Pantalones').id%>">
                            <img src="images/jean.PNG" alt="SmartTv Samsung" class="product_img">
                            <div class="main-article">
                                <h4 class="description">JEANS Y PANTALONES</h4>
                            </div>
                        </a>
                    </article>
                </div>

                <h1 class="estilos-productos">Estilos</h1>
                <div class="products">
                    <article>
                        <a href="/products/filter?styles=<%=styles.find(e=>e.name=='Casual').id%>">
                            <img src="images/casual-style.PNG" alt="Blusas y remeras" class="product_img">
                            <div class="main-article">
                                <h4 class="description">CASUAL</h4>
                            </div>
                        </a>
                    </article>
                    <article>
                        <a href="/products/filter?styles=<%=styles.find(e=>e.name=='Trendy').id%>">
                            <img src="images/trendy-style.PNG" alt="Vestidos y monos" class="product_img">
                        <div class="main-article">
                            <h4 class="description">TRENDY</h4>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="/products/filter?styles=<%=styles.find(e=>e.name=='Minimalista').id%>">
                            <img src="images/minimalista-style.PNG" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                            <div class="main-article">
                                <h4 class="description">MINIMALISTA</h4>
                            </div>
                        </a>
                    </article>
                    <article>
                        <a href="/products/filter?styles=<%=styles.find(e=>e.name=='Hipster').id%>">
                            <img src="images/hipster-style.PNG" alt="SmartTv Samsung" class="product_img">
                            <div class="main-article">
                                <h4 class="description">HIPSTER</h4>
                            </div>
                        </a>
                    </article>
                </div>
            </section>
        </main>
        <%- include('../partials/footer') %> 
    </body>
</html>