<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    
    <body>
    
        <%- include('../partials/header') %>

        <main class="usersList">
            <h2 class="title"> Lista de Usuarios </h2>
            <section class="users">
                    <% users.forEach(element => { %>
                            <article>
                                <a href="/users/<%= element.id  %> ">
                                    <img src='/images/users/<%=element.image_users[0].url_name%>' >     
                                </a>
                                <div class="description">
                                    <h4> <%= element.userName %> </h4>
                                    <p class="name"><%=element.name%> <%=element.lastName%></p>
                                    <p class="email"> <%= element.email %> </p>
                                    <% 
                                        let f = element.date_of_birth; 
			                            let day = String(f.getDate()).length > 1 ? `${f.getDate()}` : `0${f.getDate()}`; 
                                        let month = String(f.getMonth()+1).length > 1 ? `${f.getMonth()+1}` : `0${f.getMonth()+1}`; 
                                        let year = String(f.getFullYear()).length > 1 ? `${f.getFullYear()}` : `0${f.getFullYear()}`; 
                                        let fecha = `${year}-${month}-${day}`;
                                    %> 
                                    <p class="birthday-date"><%= fecha %> </p>
                                </div>
                                <form action="/users/<%=element.id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="bt-delete">ELIMINAR</button>
                                </form>
                            </article>
                    <% }) %>
            </section>
        </main>
        <%- include('../partials/footer') %> 
    </body>    
</html>